# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
env/

# Poetry-specific files and directories
.venv/               # Poetry's virtual environment (if created locally)
poetry.lock          # Poetry's lock file (optional, include if you don't want to track it)
pyproject.toml

